.*.swp
.*.swo

docker/*/*/build.sh
docker/*/*/build-all.sh
docker/*/*/cleanup-all.sh
docker/*/*/run_compiler.sh
docker/*/*/run_test.sh
docker/*/*/context*/Dockerfile

testsuite/*/by_bug_id
testsuite/*/by_compiler
testsuite/*/by_generator
testsuite/*/by_kind
testsuite/*/by_size
testsuite/*/testcases/*/test.sh
testsuite/*/testcases/*/test_docker_exec.sh
testsuite/*/testcases/*/run_docker_exec.sh

testsuite/c/testcases/*/reduction/**/prog.reduced.test.c
testsuite/c/testcases/*/reduction/**/prog.reduced.test.c.bak
testsuite/c/testcases/*/reduction/**/prog.reduced.test.c.*.exe
testsuite/c/testcases/*/reduction/**/prog.reduced.test.c.*.out

to_analyze/**/test.sh
to_analyze/**/test_docker_exec.sh
to_analyze/**/run_docker_exec.sh
to_analyze/**/prog.reduced.test.c
to_analyze/**/prog.reduced.test.c.bak
to_analyze/**/prog.reduced.test.c.*.exe
to_analyze/**/prog.reduced.test.c.*.out
