{% extends '_templates/build.sh.j2' %}


{% block release %}
RELEASE="Yices-${ARG_RELEASE}"

# old versions start with small letter 'y'
old_versions=( \
    "2.2.0" \
    "2.2.1" \
    "2.2.2" \
    "2.3.0" \
    "2.3.1" \
    "2.4.0" \
    "2.4.1" \
    "2.4.2" \
    "2.5.0" \
    "2.5.1" \
)
# additional spaces are intentional
if [[ " ${old_versions[@]} " =~ " ${ARG_RELEASE} " ]]; then
    RELEASE="yices-${ARG_RELEASE}"
fi
{% endblock %}
